.home-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;

  .card-cover {
    display: flex;
    gap: 9px;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 131px;
    row-gap: 107px;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
  }
  .input-box {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    span {
      font-family: Inter;
      font-size: 12px;
      font-weight: 600;
      line-height: 14.52px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: white;
      padding: 3px 0;
      text-align: center;
      background: #e29a2d;
      border-radius: 14px;
      display: block;

      margin-bottom: 6px;
    }
  }

  .box-wrapper {
    min-width: 75px;
    height: 22px;
    padding: 18px 20px;
    background: #ffffff;
    border: 2px solid #ffc267;
    border-radius: 15px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    display: flex;
    align-items: center;

    input {
      outline: none;
      width: 100%;
      border: none;
      background: none;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
    }
  }
  .output {
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    span {
      background-color: #4caf79;
    }
    .box-wrapper {
      border-color: #4caf79;
    }
    .box {
      margin-right: 14px;
    }
  }
  .init {
    .box-wrapper {
      width: 75px;
    }
  }
}

.connection-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.connection-svg path {
  stroke: rgba(0, 102, 255, 0.3);
  stroke-width: 7px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.3s ease-in-out, stroke-width 0.3s ease-in-out;
}
